body {
  margin: 0;
  background-color: #FFEAD4;
  overflow-x: hidden;
}

.container-header {
  width: 100vw;
}

.lett-header {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  width: 80%;
  margin-top: 10%;
  fill: transparent;
  animation: lett-preenchimento 0.5s ease-in-out forwards 2.5s;
}

path {
  /*Controla os gaps na linha, quanto menor o valor, menor a distância entre cada segui-
  mento, e consequentemente mais linhas*/
  stroke-dasharray: 1750;

  animation: dash 4s cubic-bezier(.51,.5,.52,.51);
  stroke-width: 2px;
  stroke: #BE253F;
}

@keyframes dash {
  0% {
    /*distância entre os "n" pontos da animação, no caso 0% e 100%*/
    stroke-dashoffset: 1750;
  }
  100% {
    stroke-dashoffset: 0;
  }
}

@keyframes lett-preenchimento {
  to {
    fill: #BE253F;
  }
}
